/* Basic Element Styles */

html{
  position: relative;
  min-height: 100%;
}

body{
  font-family:'Open Sans', sans-serif;
  margin:40px auto;
  text-align: center;
}

h1{
  font-size: 8em;
  line-height: 1;
  margin: 10px auto 20px auto;
}
h2{
  font-size: 5em;
  margin: 5px auto 10px auto;
}
h3{
  font-size: 2em;
  margin: 5px auto 10px auto;
}
p{
  margin: 0 auto;
}
a{
  color: #ff3b00;
  display: inline;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

img{
  margin:10px 0px;
  max-width:100%;
}
iframe{
  margin: 0 auto !important;
}

#credits{
  bottom: 0;
  display: block;
  height: 40px;
  position: absolute;
  right: 0;
}

#content{
    overflow: hidden;
    padding-bottom: 40px;
}

/* Theme Styles */

body{
  background-image: url("christmaspattern.png");
  background-repeat: repeat;
}

img{
  border: 20px solid white;
  margin: 30px auto;
}


p{
  background: white;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  width: auto;
}

h3{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


